.vs/pyconvnet/FileContentIndex/2f2d62aa-1170-4f9e-9b35-520667444861.vsidx
.vs/pyconvnet/FileContentIndex/4c72769a-b5d8-405a-a175-c6130ae81a3b.vsidx
.vs/pyconvnet/v17/.suo
.vs/pyconvnet/v17/DocumentLayout.backup.json
.vs/pyconvnet/v17/DocumentLayout.json
/.vs
/.vs/pyconvnet
/.vs/pyconvnet/FileContentIndex
/.vs/pyconvnet/FileContentIndex/4e013b0f-2e39-423b-8531-19a7dde5312d.vsidx
/.vs/pyconvnet/FileContentIndex/ce32b5f1-8418-40b7-b36d-2e85da1b8dac.vsidx
/.vs/pyconvnet/FileContentIndex/d38a885f-5dd9-4644-be1c-5b9b516c3827.vsidx
/.vs/pyconvnet/FileContentIndex/ff6e37c4-a25d-40d9-84eb-a04b98158a66.vsidx
/.vs/pyconvnet/v17
/.vs/pyconvnet/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
